html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif; /* Police de la maquette */
    margin: 0px;
    font-size: 18px;
    color: #3b4757;
}

h1,
h2 {
    font-size: 36px;
}

header {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    width: 100%;
    position: absolute;
}

li {
    padding: 30px;
    list-style-type: none;
    float: left;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

a {
    /* float: right; */
    color: #ffffff;
    /* float: left; */
    text-align: center;
    /* padding: 12px; */
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

a:hover {
    text-decoration: none;
    color: #fdc54b;
}

.button {
    background-color: white;
    margin-left: 0;
    height: 45px;
    color: #9aa2d3;
    width: 365px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.5);
}

button {
    margin: 20px 30px 20px 0px;
    color: #000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 25px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

button:hover {
    color: #fff;
    background-color: #000;
}

.nav {
    font-size: 18px;
}

ul > img {
    overflow: hidden;
    width: 178px;
    height: 52px;
    align-self: center;
    margin-right: auto;
}

.bloc-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    justify-content: center;
}

.col-06 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    text-align: center;
}

/* Home page */
/* Home page */
/* Home page */
/* Home page */

#home {
    background-color: #fdc54b;
}

.homeSection {
    color: #3b4757;
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 50%;
    color: white;
}

.homeSection > h1 {
    text-align: left;
    color: #fdc54b;
}

/* section service */

.Modal {
    position: absolute;
    top: 300px;
    left: 350px;
    right: 350px;
    bottom: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
    opacity: 0.9;
}

.form__modal {
    margin: 50px;
}

.form__modal textarea {
    /* margin: 30px 0px; */
    height: 220px;
    padding: 10px 0px 0px 10px;
    width: 99.5%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

.closemodal {
    cursor: pointer;
}
.closemodal:hover {
    color: red;
}

.background__message {
    padding: 20px;
    background-color: rgb(146, 136, 218);
    color: #fff;
}

.background__message h2 {
    padding: 0px 0px 30px 80px;
}

.ajust {
    border-radius: 15px;
    margin: 25px 80px;
    background-color: #fff;
}

.ajust span {
    float: right;
}

.color-01 {
    font-size: 16px;
    padding: 0px 30px;
    color: rgb(161, 161, 161);
}

.color-01:nth-last-child(1) {
    padding-bottom: 10px;
}

.color-01:nth-child(2) {
    padding-bottom: 10px;
}

.strong {
    padding: 10px 30px 0px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #3b4757;
}

.space {
    display: flex;
    justify-content: space-between;
}

/* .bottom {
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 5px 50px;
    margin: 0px 0px 10px 215px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
} */

.form {
    margin: 100px;
}

.form h2 {
    width: 32%;
    font-weight: 800;
    margin: 150px 0px 50px 0px;
    color: rgb(80, 79, 79);
}

.form form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin: 30px 0px;
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

.form input:nth-last-child(1) {
    background-color: rgb(146, 136, 218);
    color: #fff;
    align-self: flex-end;
}

.form input:nth-last-child(1):hover {
    background-color: rgb(122, 115, 180);
}

.form select {
    margin: 30px 0px;
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
    align-self: flex-end;
}

.form textarea {
    margin: 30px 0px;
    height: 300px;
    padding: 10px 0px 0px 10px;
    /* width: 100%; */
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

.color__link {
    color: #000;
}

input:focus {
    background-color: #9aa2d3;
}

/* Contact page */
/* Contact page */
/* Contact page */
/* Contact page */

.contact-h2 {
    margin-top: 100px;
}

.contact-h2 h2 {
    font-weight: bold;
    font-size: 36px;
    width: 40%;
}

.contact-h2 em {
    color: #9aa2d3;
    font-style: normal;
}

.contact-h2 p {
    color: #9aa2d3;
    font-style: normal;
    margin-bottom: -605px;
    text-align: right;
}

#contactform {
    margin-top: 200px;
    margin-left: 0;
    width: 100%;
}

#googlemap {
    border: none;
    width: 50%;
    height: 365px;
}

.header-contact {
    background-image: url("../img/header_contact.png");
    max-height: 50vh;
    min-height: 50vh;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-service {
    background-image: url("../img/header_service.png");
    max-height: 50vh;
    min-height: 50vh;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-team {
    background-image: url("../img/header_equipe.png");
    max-height: 50vh;
    min-height: 50vh;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-home {
    background-image: url("../img/header_home.png");
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Connexion page */
/* Connexion page */
/* Connexion page */
/* Connexion page */

#connexionForm > .form {
    margin: auto;
}

#connexionForm > .form input:nth-last-child(1) {
    margin-left: 0%;
}
