html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif; /* Police de la maquette */
    margin: 0px;
    font-size: 18px;
    color: #3b4757;
}

h1,
h2 {
    font-size: 36px;
}

header {
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    font-weight: bold;
}

li {
    padding: 30px;
    list-style-type: none;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

a {
    color: #3b4757;
    text-decoration: none;
}

a:hover {
    color: slateblue;
}

button {
    padding: 6px;
    margin: 20px;
    background-color: rgb(36 39 41);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.nav {
    font-size: 18px;
}

.bloc-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    justify-content: center;
}

.col-06 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    text-align: center;
}

/* Home page */

#home {
    background-color: #fdc54b;
}

.homeSection {
    color: #3b4757;
    text-align: justify;
    width: 45%;
    margin-top: 20%;
    margin-left: 10%;
}

.homeSection > h1 {
    color: #fdc54b;
    text-align: left;
    margin-right: -10rem;
}

/* section service */

.background__message {
    padding: 20px;
    background-color: rgb(146, 136, 218);
    color: #fff;
}

.background__message h2 {
    padding: 0px 0px 30px 80px;
}

.ajust {
    border-radius: 15px;
    margin: 25px 80px;
    background-color: #fff;
}

.ajust span {
    float: right;
}

.color-01 {
    font-size: 16px;
    padding: 0px 30px;
    color: rgb(161, 161, 161);
}
.color-01:nth-last-child(1) {
    padding-bottom: 10px;
}

.color-01:nth-child(2) {
    padding-bottom: 10px;
}

.strong {
    padding: 10px 30px 0px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #3b4757;
}

.space {
    display: flex;
}

.bottom {
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    padding: 5px 50px;
    margin: 0px 0px 10px 215px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

.form {
    margin: 100px;
}

.form h2 {
    width: 32%;
    font-weight: 800;
    margin: 150px 0px 50px 0px;
    color: rgb(80, 79, 79);
}

.form form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin: 30px 0px;
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

.form input:nth-last-child(1) {
    background-color: rgb(146, 136, 218);
    color: #fff;
    margin-left: 600px;
}

.form select {
    margin: 30px 0px;
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
    align-self: flex-end;
}

.form textarea {
    margin: 30px 0px;
    height: 300px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px hsla(232, 39%, 72%, 0.5);
}

/* Contact page */
.contact-h2 {
    margin-top: 100px;
}

.contact-h2 h2 {
    font-weight: bold;
    font-size: 36px;
    width: 40%;
}

.contact-h2 em {
    color: #9aa2d3;
    font-style: normal;
}

.contact-h2 p {
    color: #9aa2d3;
    font-style: normal;
    float: right;
    text-align: right;
}

#contactform {
    margin-left: 0;
    width: 100%;
}

#googlemap {
    border: none;
}
